<%- include("../partials/admin/header.ejs")%>
   <div id="page-wrapper">
      <div class="header">
         <h1 class="page-header">Order Management</h1>
         <ol class="breadcrumb">
            <li><a href="/admin/">Dashboard</a></li>
            <li class="active">Orders</li>
         </ol>
      </div>
      <div id="page-inner">
         <div class="row">
            <div class="col-md-12">
               <!-- Advanced Tables -->
               <div class="card">
                  <div class="card-action">Orders List</div>
                  <div class="card-content">
                     <div class="table-responsive">
                        <div class="row">
                           <div class="col-sm-6">
                              <div id="dataTables-example_filte" class="dataTables_filter">
                                 <form action="#" method="get">
                                    <label for="s">Search: </label><input type="search" class="form-control input-sm"
                                       aria-controls="dataTables-example" name="search" id="search" />
                                    <input type="submit" value="Search">
                                 </form>
                              </div>
                           </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                           <thead>
                              <tr>
                                 <th>orderId</th>
                                 <th>userName</th>
                                 <th>status</th>
                                 <th>payment</th>
                                 <th>Amount</th>
                                 <th>Action</th>
                                 <th></th>
                              </tr>
                           </thead>
                           <tbody>
                           <tbody>
                              <% if (typeof data !=='undefined' ) { %>
                                 <% for (let i=0; i < data.length; i++) { %>
                                    <tr class="odd gradeX">
                                       <td>
                                          <%= data[i].orderId %>
                                       </td>
                                       <td>
                                          <%= data[i].user.username %>
                                       </td>
                                       <td id="order-status-<%= i %>">
                                          <%= data[i].orderStatus %>
                                       </td>
                                       <td>
                                          <%= data[i].payment %>
                                       </td>
                                       <td>
                                          <%= data[i].totalPrice %>
                                       </td>
                                       <td>
                                          <select name="" id="order-status-action-<%= i %>"
                                             style="display: inline-block;" <%=data[i].orderStatus==='Delivered' ||
                                             data[i].orderStatus==='Cancelled' ? 'disabled' : '' %>>
                                             <option
                                                value="/admin/orders/changeStatus?id=<%=data[i]._id %>&status=Delivered"
                                                >Delivered
                                             </option>
                                             <option
                                                value="/admin/orders/changeStatus?id=<%=data[i]._id %>&status=Cancelled"
                                                >Canceled
                                             </option>
                                             <option
                                                value="/admin/orders/changeStatus?id=<%=data[i]._id %>&status=Shipped"
                                                >Shipped</option>
                                             <option
                                                value="/admin/orders/changeStatus?id=<%=data[i]._id %>&status=outForDelivery"
                                                >outForDelivery
                                             </option>
                                             <option
                                                value="/admin/orders/changeStatus?id=<%=data[i]._id %>&status=Pending"
                                                >Pending</option>
                                          </select>
                                       </td>
                                       <td><Button><a href="/admin/orders/orderDetails?id=<%= data[i]._id %>">View
                                                More</a></Button></td>
                                    </tr>
                                    <% } %>
                                       <% } %>
                           </tbody>
                        </table>
                        <div class="col-8">
                           <ul class="pagination">
                              <% if(hasPrevPage) { %>
                                 <li class="page-item"><a class="page-link"
                                       href="/admin/orders/?page=<%= currentPage - 1 %>&search= <%= search %>">Previous</a>
                                 </li>
                                 <% } else { %>
                                    <li class="disabled"><span>Previous</span></li>
                                    <% } %>
                                       <% for (let i=1; i <=totalPages; i++) { %>
                                          <li class="<%= currentPage === i ? 'active' : '' %>">
                                             <a href="/admin/orders/?page=<%= i %>&search= <%= search %>">
                                                <%= i %>
                                             </a>
                                          </li>
                                          <% } %>
                                             <% if (hasNextPage) { %>
                                                <li><a
                                                      href="/admin/orders/?page=<%= currentPage + 1 %>&search= <%= search %>">Next</a>
                                                </li>
                                                <% } else { %>
                                                   <li class="disabled"><span>Next</span></li>
                                                   <% } %>
                           </ul>
                        </div>




                     </div>

                  </div>
               </div>
               <!--End Advanced Tables -->
            </div>
         </div>


         <%- include("../partials/admin/footer.ejs")%>
            <script>



               document.addEventListener("DOMContentLoaded", () => {

                  const select=document.querySelectorAll("[id^='order-status-action']")

                  select.forEach((selectElement) => {

                     selectElement.addEventListener("change", function () {
                        const statusVal = this.value
                        if (statusVal) {
                           window.location.href = statusVal
                        }
                     })

                     const orderId=selectElement.id.split('-')[3];
                     const statusCell=document.getElementById(`order-status-${orderId}`)
                     const currentStatus=statusCell.innerText.trim()

                     selectElement.querySelectorAll('option').forEach((option)=>{
                        if(option.textContent === currentStatus){
                           option.selected = true
                        }else{
                           option.selected=false
                        }

                        if(currentStatus === 'Shipped' ){
                           if(option.textContent === 'Pending'){
                              option.disabled =true
                           }else{
                              option.disabled=false
                           }
                        }else if(currentStatus === 'outForDelivery'){
                           if(option.textContent === 'Pending' || option.textContent === 'Shipped'){
                              option.disabled =true
                           }else{
                              option.disabled=false
                           }
                        }
                     })
                  })
               })


            </script>

            <script>
               document.addEventListener('DOMContentLoaded', (event) => {
                  const element = document.getElementById('dataTables-example_filter');
                  const emptyElements = document.getElementsByClassName('dataTables_empty');
                  const removePginat = document.getElementById('dataTables-example_paginate')
                  const dataTablesLength = document.getElementById("dataTables-example_length")
                  const dataTablesInfo = document.getElementById("dataTables-example_info")
                  while (emptyElements.length > 0) {
                     emptyElements[0].remove();
                  }

                  if (element || removePginat || dataTablesLength || dataTablesInfo) {
                     element.remove();
                     removePginat.remove()
                     dataTablesLength.remove()
                     dataTablesInfo.remove()
                  }
               });
            </script>

      </div>
   </div>



   <