<%- include('../partials/admin/header') %>

<div id="page-wrapper">
    <div class="header">
      <h1 class="page-header">
        Edit Product
      </h1>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Data</li>
      </ol>

    </div>

    <div id="page-inner">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            
            <div class="card-content">
                <form class="col s12" action="/admin/product/editProduct/<%= id %>" method="post" >
                    <div class="row">
                      <div class="input-field col s12">
                        <input placeholder="Product Name" id="first_name" type="text" class="validate" name="productName" value="<%= name %>">
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="input-field col s12">
                        <input placeholder="Description" id="disabled" type="text" class="validate" name="productDiscription" value="<%= description %>">
                      </div>
                    </div>
                  
                    <div class="row">
                      <div class="input-field col s12">
                        <input placeholder="Price" id="price" type="number" class="validate" name="productPrice" value="<%= price %>">
                      </div>
                    </div>
                  
                    <div class="row">
                      <div class="input-field col s12">
                        <input placeholder="Category" id="category" type="text" class="validate" name="productCategory">
                      </div>
                    </div>
                  
                    <div class="row">
                      <div class="input-field col s12">
                        <input placeholder="Product Image URL" id="product_image" type="file" class="validate" name="productImage">
                      </div>
                    </div>
                  
                    <div class="row">
                      <div class="col s12">
                        <div class="input-field inline">
                          <input placeholder="Size" id="size" type="text" class="validate" name="productSize" value="<%= size %>">
                        </div>
                        <div class="input-field inline">
                          <input placeholder="Color" id="color" type="text" class="validate" name="productColor" value="<%= color %>">
                        </div>
                        <div class="input-field inline">
                          <input placeholder="Stock" id="stock" type="number" class="validate" name="productStock" value="<%= stock %>">
                        </div>
                        <div>
                          <button type="submit" class="btn btn-success">edit product</button>
                        </div>
                      </div>
                    </div>
                  </form>
                  
              <div class="clearBoth"></div>
            </div>
          </div>
        </div>
      </div>
      
        
       
        <!-- /.panel-body -->
      </div>
      <!-- /.col-lg-12 -->
      <%- include('../partials/admin/footer') %>