<%- include('../partials/user/header') %>
<style>
    /* Remove spinner buttons in modern browsers (Chrome, Safari, Edge, Opera, Firefox) */
    .quantity-input {
      appearance: none; /* Modern browsers */
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari, Chrome */
      margin: 0; /* Prevent margin issues in WebKit-based browsers */
    }
  
    .quantity-input::-webkit-outer-spin-button,
    .quantity-input::-webkit-inner-spin-button {
      display: none; /* Hide WebKit-based browsers' spin buttons */
    }
  </style>

    <!-- Cart items details -->
    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
         <% let Subtotal=0 %>
         <% let tax=35 %>

         <% if(typeof cartProduct !== 'undefined') { %>
            
            <% for(let i=0;i<cartProduct.length;i++){ %>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="/uploads/<%= cartProduct[i].croppedImage[0] %>">
                            <div>
                                <p><%= cartProduct[i].name %></p>
                                <small><%= cartProduct[i].price %></small>
                                <br>
                                <a href="">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td><input type="number" value="<%= cartProduct[i].count %>"  class="quantity-input"></td>
                    <td><%= cartProduct[i].price*cartProduct[i].count %></td>
                    <% Subtotal += cartProduct[i].price * cartProduct[i].count %>
                </tr>
            <% } %>
         <% } %>   
            
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td><%= Subtotal %></td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td><%= tax %></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td><%= tax+Subtotal %></td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/user/footer') %>