<%- include('../partials/user/header') %>
<style>
    /* Remove spinner buttons in modern browsers (Chrome, Safari, Edge, Opera, Firefox) */
    .quantity-input {
      appearance: none; /* Modern browsers */
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari, Chrome */
      margin: 0; /* Prevent margin issues in WebKit-based browsers */
    }
  
    .quantity-input::-webkit-outer-spin-button,
    .quantity-input::-webkit-inner-spin-button {
      display: none; /* Hide WebKit-based browsers' spin buttons */
    }
    .quantity-container {
    display: flex;
    align-items: center;
    }

    .quantity-input {
    width: 50px;
    text-align: center;
    }

    .quantity-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Adjust spacing between input and buttons */
    }

    .quantity-buttons a {
    display: block;
    text-align: center;
    
    }
    .add-product-disabled{
        pointer-events: none; 
        opacity: 0.5;
    }

  </style>

    <!-- Cart items details -->
    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
         <% let Subtotal=0 %>
         <% let tax=35 %>

         <% if(typeof cartProduct !== 'undefined') { %>
            
            <% for(let i=0;i<cartProduct.length;i++){ %>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="/uploads/<%= cartProduct[i].croppedImage[0] %>">
                            <div>
                                <p><%= cartProduct[i].name %></p>
                                <small><%= cartProduct[i].price %></small>
                                <br>
                                <a href="/productDetails/addCart/sub?qty=<%= cartProduct[i].count %>&id=<%= cartProduct[i]._id %>">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td> 
                        <div class="quantity-container">
                        <input type="number" value="<%= cartProduct[i].count %>" class="quantity-input">
                        <div class="quantity-buttons">
                           
                          <a href="/productDetails/addCart?id=<%= cartProduct[i]._id %>&quantity=1" class="<%=cartProduct[i].varient[0].stock > 0 ? '' : 'add-product-disabled' %> " ><i class="fa-solid fa-plus"></i></a>


                          <a href="/productDetails/addCart/sub?id=<%= cartProduct[i]._id %>" class="<%= cartProduct[i].count > 1 ? '' : 'add-product-disabled' %> "><i class="fa-solid fa-minus"></i></a>
                        </div>
                        </div>
                    </td>
                    <td><%= cartProduct[i].price*cartProduct[i].count %></td>
                    <% Subtotal += cartProduct[i].price * cartProduct[i].count %>
                </tr>
            <% } %>
         <% } %>   
            
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td><%= Subtotal %></td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td><%= tax %></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td><%= tax+Subtotal %></td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/user/footer') %>