<%- include('../partials/user/header') %>

<style>
.pagination {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
    .pagination .page-item {
      margin: 0 5px;
    }
    .acti{
        background-color: rgb(189, 189, 248);
        width: 20px;
        height: 20px;
        text-align: center;
    }

</style>

    <!-- All Products -->

    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            
              
            <form action="/products/">
                <input type="text" style="flex: 1; margin-right: 10px;" name="search">
                
                <select name="sort"  >
                    <option value="all">All</a></option>
                    <option value="lowtohigh">Low to high</option>
                    <option value="hightolow">High to low</option>
                    <option value="A to Z">A - Z</option>
                    <option value="Z to A">z - A</option>
                    <option value="New Arrivals">New Arrivals</option>
                </select>

                <button type="submit" style="background: none; border: none; cursor: pointer;">
                    <i class="fas fa-search"></i>
                </button>
                
            </form>
            
        </div>
        <div class="row">

            <% if(typeof allProduct !== 'undefined'){ %>
                <% for(let i=0;i<allProduct.length;i++){ %>
                    <div class="col-4">
                        <img src="/uploads/<%= allProduct[i].croppedImage[0] %>">
                        <h4><%= allProduct[i].name %></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><%= allProduct[i].price %></p>
                    </div>

                <% } %>
           <% } %>
            
            
            
        </div>
        
            
        <ul class="pagination">
            <% if(hasPrevPage) { %>
                <li class="page-item"><a class="page-link" href="/products/?page=<%= currentPage - 1 %>&sort=<%=sort%>&search=<%=search%> " style="color: blue;">Previous</a></li>
             <% } else { %>
                <li class="disabled" style="color: rgba(65, 66, 66, 0.687);"><span>Previous</span></li>
             <% } %>
             <% for(let i=1;i<= totalPages ; i++){ %>
                <li class="page-item <%= currentPage == i ? 'acti' : '' %>">
                    <a class="page-link" href="/products/?page=<%= i %>&sort=<%=sort%>&search=<%=search%>  "><%= i %></a>
                </li>
             <% } %>
             <% if (hasNextPage) { %>
                <li><a href="/products/?page=<%= currentPage + 1 %>&sort=<%=sort%>&search=<%=search%>  " style="color: blue;">Next</a></li>
               <% } else { %>
                      <li class="disabled" style="color: rgba(65, 66, 66, 0.687);"><span>Next</span></li>
             <% } %>   
            
            
          </ul>
          
        
    </div>

    <!-- Footer -->
    <%- include('../partials/user/footer') %>