
<%- include('../partials/user/header') %>
<style>
    .pagination {
          display: flex;
          justify-content: center;
          margin-bottom: 50px;
        }
        .pagination .page-item {
          margin: 0 5px;
        }
        .acti{
            background-color: rgb(189, 189, 248);
            width: 20px;
            height: 20px;
            text-align: center;
        }
        .order-cancel-btn{
            background-color: #9e9b9b;
        }
    
</style>
<link rel="stylesheet" href="/css/orders.css">
    <div class="orders-list">
        <h2>Your Orders</h2>
    
        <!-- Order Card 1 -->
         <% if(typeof orderItems !== 'undefined'){ %>
            <% for(let i=0;i<orderItems.length;i++){ %>
                <% for(let j=0;j<orderItems[i].cartItems.length;j++){ %>
                    <div class="order-card">
                        <div class="order-image">
                            <img src="/uploads/<%= orderItems[i].cartItems[j].product.croppedImage[0] %>" alt="Product Image">
                        </div>
                        <div class="order-info">
                            <div class="order-details">
                                <h3><%= orderItems[i].orderId %></h3>
                                <p><strong>Date:</strong> <%=dateField[i]  %> </p>
                                <p><strong>Status:</strong><%= orderItems[i].orderStatus %></p>
                            </div>
                
                            <div class="item-details">
                                <h4>Items:</h4>
                                <ul>
                                    <li>
                                        <p><strong>Product : </strong><%= orderItems[i].cartItems[j].product.name %></p>
                                        <p><strong>Quantity : </strong><%= orderItems[i].cartItems[j].
                                            quantity %></p>
                                        <p><strong>Price : </strong><%= orderItems[i].cartItems[j].price %></p>
                                        <p><strong>Size : </strong><%= orderItems[i].cartItems[j].size %></p>
                                    </li>
                                </ul>
                                <p><strong>Total:</strong><%= orderItems[i].cartItems[j].price * orderItems[i].cartItems[j].quantity %></p>
                            </div>
                        </div>
                
                        <!-- Order Actions -->
                        <div class="order-actions">
                            <button class="track-btn"><a style="color: #fff;" href="/myAccount/orders/trackOrder?id=<%= orderItems[i]._id %>">Track Order</a></button>
                            <% if(orderItems[i].orderStatus !== 'Delivered'){ %>

                                <% if (orderItems[i].orderStatus === 'Cancelled' || orderItems[i].accept === 'reject') { %>
                                    <button class="order-cancel-btn" disabled>Cancel Order</button>
                                 <% } else { %>
                                <button class="cancel-btn" <%= orderItems[i].orderStatus === 'Cancelled' ? 'disabled':'' %> ><a style="color: #fff;" href="/myAccount/orders/cancelOrder?id=<%= orderItems[i]._id %>">Cancel Order</a></button>
                                <% } %>

                            <% }else{ %>
                                <button class="cancel-btn"><a style="color: #fff;" href="/myAccount/orders/returnOrder?id=<%= orderItems[i].cartItems[j].product._id %>">Return</a></button>
                            <% } %>
                            
                        </div>
                    </div>
                <% } %>
                
            <% } %>
            
         <% } %>
        
    
        <!-- Repeat for more orders -->
    </div>

    <!-- <ul class="pagination">
        <li class="page-item">prev</li>
        <li class="page-item">1</li>
        <li class="page-item">2</li>
        <li class="page-item">Next</li>
    </ul> -->

    <%- include('../partials/user/footer') %>
    
