<%- include('../partials/user/header') %>
<style>
    #zoomContainer {
      position: relative;
      width: 100%;  /* Container should be flexible */
      overflow: hidden; /* Hide the overflow for the zoom effect */
      cursor: zoom-in;
    }
  
    #ProductImg {
      width: 100%;
      transition: transform 0.3s ease; /* Smooth zoom transition */
    }
  
    #zoomContainer.zoomed-in {
      cursor: zoom-out;
    }
    .quantity-input{
        width: 100px;
    }
</style>


    <!-- Single Products -->
    <div class="small-container single-product">
        <div class="row">
            
            <div class="col-2">
                <% if(productData !== 'undefined'){ %>
                    
                    <div id="zoomContainer">
                        <img src="/uploads/<%= productData.croppedImage[0] %>" id="ProductImg" alt="Product Image">
                    </div>
                        
                    
                    
                    <div class="small-img-row">

                        <% for(let i=0;i<productData.croppedImage.length; i++){ %>
                            <div class="small-img-col">
                                <img src="/uploads/<%= productData.croppedImage[i]%>" width="100%" class="small-img" >
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </div>

            <div class="col-2">
                <% if(productData !== 'undefined'){ %>
                    
                    <h1><%= productData.name %></h1>
                    <h4><%= productData.price %></h4>
                    <form action="/productDetails/addCart">
                        <select name="index" required id="product-size">
                                <option value="" selected disabled >Select The size</option>
                                <% for(let i=0;i<productData.varient.length;i++){ %>
                                    <option value="<%= i %>"><%= productData.varient[i].size  %></option>
                                <% } %>
                        </select>
                        <input type="number" style="width: 70px;" name="quantity" value="1" min="1" max="" id="quantity-input">
    
                        <input type="hidden" name="id" value="<%= productData._id %>">

                        <button type="submit" class="btn" style="font-weight: bold;">Add To Cart</button>
                    </form>
                    
                    
                    
                    <a style="margin-left: 10px;" href=""><i class="fa-regular fa-heart fa-2x"></i></a>

                    <h3>Product Details <i class="fa fa-indent"></i></h3>
                    <br>
                    <p><%= productData. description %></p>
                    
                        

                        <p id="empty-stock" style="color: red;"></p>
                        <p id="product-stock"></p>

                    
                        
                    
                        
                    
                    
                <% } %>

                
                
                
            </div>
        </div>
    </div>
    <!-- title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>
    <!-- Products -->
    <div class="small-container">
        <div class="row">
            <% if(typeof relatedProduct !== 'undefined') { %>
                <% for(let i=0;i<relatedProduct.length;i++){ %>
                    <div class="col-4">
                        <a href="/productDetails?id=<%= relatedProduct[i]._id %>"><img src="/uploads/<%= relatedProduct[i].croppedImage[0] %>"></a>
                        <h4><%= relatedProduct[i].name %></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><%= relatedProduct[i].price %></p>
                    </div>
                <% } %>
                
            <% } %>
            
            
        </div>
    </div>

    <!-- Footer -->
  

    <!-- product gallery -->
    


    <% if (typeof message !== 'undefined' && message) { %>
        <script>
            alert('<%= message %>');
        </script>
    <% } %>
    
    

     <script>
        document.getElementById('product-size').addEventListener("change",async function(){
            const selectVal=this.value 
            const productId='<%= productData._id %>'
            try {
                const response=await fetch(`/api/product/stock?id=${productId}&index=${selectVal}`)

                const quantityField=document.getElementById("quantity-input")
                const emptyStock=document.getElementById('empty-stock')
                const productStock=document.getElementById('product-stock');

                let data
                if(!response.ok){
                    throw new Error("Network response was not ok")
                }
                
                data=await response.json()

                if (data.stock < 1) {
                    emptyStock.style.display='block'
                    emptyStock.textContent="out of stock"
                    productStock.style.display='none'
                    quantityField.max=data.stock
                } else {
                    console.log("inside else condition ");
                    emptyStock.style.display = 'none';
                    productStock.style.display = 'block';
                    productStock.textContent = `only ${data.stock} left`;
                    quantityField.max=data.stock
                    
                    if (quantityInput.value > stock) {
                        quantityInput.value = stock; 
                    }
                }
                

            } catch (error) {
                console.log("error in fetch "+error.message)
            }
            



            

        })
     </script>
    <script>
        var ProductImg = document.getElementById("ProductImg");
        var SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function () {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function () {
            ProductImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function () {
            ProductImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function () {
            ProductImg.src = SmallImg[3].src;
        }

    </script>
    <script>
        const img = document.getElementById("ProductImg");
        const container = document.getElementById("zoomContainer");
      
        let isZoomed = false;
      
        container.addEventListener("click", function(e) {
          if (!isZoomed) {
            zoomIn(e);
          } else {
            zoomOut();
          }
        });
      
        container.addEventListener("mousemove", function(e) {
          if (isZoomed) {
            moveImage(e);
          }
        });
      
        function zoomIn(event) {
          isZoomed = true;
          container.classList.add("zoomed-in");
          img.style.transform = "scale(2)";  // Zoom level (2x in this case)
          moveImage(event); // Initial positioning
        }
      
        function zoomOut() {
          isZoomed = false;
          container.classList.remove("zoomed-in");
          img.style.transform = "scale(1)";  // Reset the zoom
          img.style.transformOrigin = "center center"; // Reset the origin
        }
      
        function moveImage(event) {
          const rect = container.getBoundingClientRect();
          const x = event.clientX - rect.left; // X position of the mouse relative to the container
          const y = event.clientY - rect.top;  // Y position of the mouse relative to the container
      
          // Set the origin of the zoom based on the mouse position
          img.style.transformOrigin = `${x}px ${y}px`;
        }
    </script>
 <%- include('../partials/user/footer') %>