<%- include('../partials/user/header') %>

    <!-- Single Products -->
    <div class="small-container single-product">
        <div class="row">
            
            <div class="col-2">
                <% if(productData !== 'undefined'){ %>
                    <img src="/uploads/processed-<%= productData.productImage[0].filename %> " width="100%" id="ProductImg">
                    <div class="small-img-row">

                        <% for(let i=0;i<productData.productImage.length; i++){ %>
                            <div class="small-img-col">
                                <img src="/uploads/processed-<%= productData.productImage[i].filename %>" width="100%" class="small-img">
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </div>

            <div class="col-2">
                <% if(productData !== 'undefined'){ %>
                    
                    <h1><%= productData.name %></h1>
                    <h4><%= productData.price %></h4>
                    <select>
                        <option>Select Size</option>
                        <option>XXL</option>
                        <option>XL</option>
                        <option>L</option>
                        <option>M</option>
                        <option>S</option>
                    </select>
                    <input type="number" value="1">
                    <a href="/productDetails/addCart" class="btn">Add To Cart</a>
                    <a style="margin-left: 10px;" href=""><i class="fa-regular fa-heart fa-2x"></i></a>

                    <h3>Product Details <i class="fa fa-indent"></i></h3>
                    <br>
                    <p><%= productData. description %></p>
                <% } %>

                
                
                
            </div>
        </div>
    </div>
    <!-- title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>
    <!-- Products -->
    <div class="small-container">
        <div class="row">
            <% if(typeof relatedProduct !== 'undefined') { %>
                <% for(let i=0;i<relatedProduct.length;i++){ %>
                    <div class="col-4">
                        <img src="/uploads/processed-<%= relatedProduct[i].productImage[0].filename %>">
                        <h4><%= relatedProduct[i].name %></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><%= relatedProduct[i].price %></p>
                    </div>
                <% } %>
                
            <% } %>
            
            
        </div>
    </div>

    <!-- Footer -->
  

    <!-- product gallery -->
    <script>
        var ProductImg = document.getElementById("ProductImg");
        var SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function () {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function () {
            ProductImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function () {
            ProductImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function () {
            ProductImg.src = SmallImg[3].src;
        }

    </script>
 <%- include('../partials/user/footer') %>